.ReviewsSection {
    padding-right: 35px;
    padding-left: 45px;
    padding-bottom: 60px;
}

.NoReviewsField {
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;

}

.ReviewCard {
    display: flex;
    padding-top: 20px;

}


.ReviewImgField {
    position: relative;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.ReviewImg {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

// .ReviewsField{
//     // position: relative;
// }
.ReviewTitle {
    margin-top: 0;
    margin-bottom: 20px;
}

.ReviewText {
    margin-bottom: 0;
}

