/* PERPECTIVE */
.button-perspective {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.75rem;
    padding: .45rem .5rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 180px;
    position: relative;
    cursor: pointer;
    transform: rotate(+5deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-perspective:focus {
    outline: 0;
}

.button-perspective:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-perspective:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-perspective {
        padding: .5rem 2.4rem;
        font-size: 1rem;
    }
}